body {
  background-color: black;
}

h1, h2, p, .link {
  font-family: Verdana, sans-serif;
  text-align: center;
}

h1 {
  color: white;
  font-size: 50px;
  font-weight: normal;
}

h2 {
  color: white;
  font-size: 42px;
  font-weight: 300;
}
 p {
   font-size: 21px;
   color: Gray;
   font-weight: normal;
 }

 .link {
   color: Aquamarine;
   font-size: 16px;
   text-decoration: underline;
   font-weight: bold;
 }

 .copyright {
   text-align: right;
 }
